@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Mukta+Vaani&family=Paytone+One&display=swap');

:root {
    --paytone-one: "Paytone One", sans-serif;
    --cousine: "Cousine", monospace;
    --mukta-vaani: "Mukta Vaani", sans-serif;
}