* {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 1024px;
    max-width: 1920px;

    display: flex;
    flex-direction: row-reverse;
}

.borda {
    border: 1px solid black;
}