@import "./cores.css";
@import './fonte.css';

/* ----- inicio ----- */

#inicio {
  background-color: #fafcf9;
}

#inicio .caixaUm {
  padding: 2rem;
  padding-block-start: 1rem;

  display: flex;
  flex-direction: column;
}

#inicio .caixaUm .titulo {
  font-family: var(--titulo);
  font-weight: 600;
  font-size: xx-large;
}

#inicio .caixaUm .subtitulo {
  font-family: var(--subtitulo);
  font-weight: 400;
  font-style: italic;
  font-size: x-large;
}

#inicio .caixaUm .paragrafo {
  font-family: var(--paragrafo);
}

/* ----- habilidades ----- */

#habilidades .caixaDois {
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

#habilidades .caixaDois span {
    border-block-start: 0.5rem solid var(--lapis-lazuli);
}

#habilidades .caixaDois .titulo {
    font-family: var(--titulo);
    font-weight: 600;
    font-size: xx-large;
}

#habilidades .caixaDois .paragrafo {
  font-family: var(--paragrafo);
}

#habilidades .caixaDois .caixaHabilidades {
    margin-block-start: 4rem;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

    gap: 4rem;
}

#habilidades .caixaDois .caixaHabilidades .fa-brands {
    color: var(--raisin-black);
}

/* ----- projetos ----- */

#projetos .caixaTres {
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

#projetos .caixaTres span {
    border-block-start: 0.5rem solid var(--lapis-lazuli);
}

#projetos .caixaTres .titulo {
    font-family: var(--titulo);
    font-weight: 600;
    font-size: xx-large;

    margin-block-end: 2rem;
}

#projetos .video-container, .legenda-video {
  width: 240px;
  margin: 0 auto; 

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-block-end: none;
}

#projetos .legenda-video {
  background-color: #f7f9f6;

  border-block-start: none;
  border-block-end: 1px solid rgba(0, 0, 0, 0.1);
}

#projetos video {
  width: 100%;
  height: auto;
}