:root {
  --licorice: #0d0106;
  --zaffre: #3626a7;
  --glaucous: #657ed4;
  --scarlet: #ff331f;
  --ghost-white: #fbfbff;
}

* {
  margin: 0;
}

#menu {
  background-color: var(--ghost-white);
}

#menu .conteiner {
  background-color: var(--licorice);
  /* border: 0.0625rem solid black; */
  max-width: 90rem;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#menu .quadro {
  background-color: var(--ghost-white);
  /* border: 0.0625rem solid black; */
  width: 88rem;
  margin-block-start: 1rem;
  margin-inline: 1rem;
}

/* ----------------------------------------- */

#inicio {
  background-color: var(--ghost-white);
}

#inicio .conteiner {
  background-color: var(--licorice);
  /* border: 0.0625rem solid black; */
  border-top: none;
  max-width: 90rem;
  height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "quadro-um quadro-um"
    "quadro-dois quadro-tres";
  gap: 1rem;
}

#inicio .quadro-um {
  /* border: 0.0625rem solid black; */
  background-color: var(--ghost-white);
  margin-block-start: 1rem;
  margin-inline: 1rem;
  max-width: 88rem;
  height: 40vh;
  grid-area: quadro-um;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio .quadro-dois, #inicio .quadro-tres {
  /* border: 0.0625rem solid black; */
  background-color: var(--ghost-white);
  margin-block-end: 1rem;
  max-width: 44rem;
  height: 44.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio .quadro-dois {
  margin-inline-start: 1rem;
  grid-area: quadro-dois;
}

#inicio .quadro-tres {
  margin-inline-end: 1rem;
  grid-area: quadro-tres;
}
