:root {
    --licorice: #0d0106;
    --zaffre: #3626a7;
    --glaucous: #657ed4;
    --scarlet: #ff331f;
    --ghost-white: #fbfbff;
}

* {
    margin: 0;
    /* background-color: green; */
}

nav.menu-barra {
    background-color: var(--scarlet);
    height: 10vh;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--licorice);
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul {
    margin-right: 5vw;
    list-style: none;
    display: flex;
    justify-content: right;
    width: 60vw;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--ghost-white);
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--licorice);
    font-weight: bold;
}

.banner {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--licorice);
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--ghost-white);
}

.banner-cartao {
    border: solid;
    border-width: 2px 0 2px 2px;
    border-color: var(--licorice);
    width: 40vw;
    height: 40vh;
    margin: 0 0 0 10vw;
    display: flex;
    align-items: center;
    justify-content: right;
}

.foto-perfil {
    /* border: 1px solid blue; */
    height: 90vh;
    width: 60vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.foto-perfil img {
    max-width: 100%;
    max-height: 105%;
}

.banner-texto {
    font-size: 2rem;
}

.banner-texto h1 {
    color: var(--scarlet);
}

.banner-texto p {
    color: var(--licorice);
}

.about {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: var(--licorice);
    height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--scarlet);
}